@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bellefair|Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ultra&display=swap');

@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');

@import url('https://fonts.googleapis.com/css?family=Anton|Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Gruppo|Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton|Economica|Gruppo|Rajdhani&display=swap');

@import url('https://fonts.googleapis.com/css?family=Anton|Economica|Gruppo|Open+Sans|Rajdhani&display=swap');


@font-face {
    font-family: "De valencia";
    src: url("../fonts/De-Valencia.ttf");
    src:
        url("../fonts/De-Valencia.ttf") format("woff"),
        url("../fonts/De-Valencia.ttf") format("opentype"),
        url("../fonts/De-Valencia.ttf") format("svg");
}

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeueLTStd-BlkCnO.ttf");
    src:

}






* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6ec182;
    height: 100vh;
    width: 100vw;


    5da66f
}

/*header*/


header {
    right: 0;
    z-index: 1;
    width: 100vw;
    background-color: transparent;
    position: absolute;
    animation: header 1.5s ease-out normal 1.8s;

}

.main-nav {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
}

.main-nav label,
#hamburger {
    display: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    width: 32em;
    margin: 0;
    background-color: transparent;

}

.main-nav ul li {
    padding: 1em 3em;
}

.main-nav a {
    text-decoration: none;

}

.main-nav ul a {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    display: flex;
    background-color: transparent;
    color: white;
    font-size: 1.2em;
    padding: 1.5em 4em;

    font-family: 'Alfa Slab One', cursive;
}

.logo p:nth-child(2) {
    font-family: 'Damion', cursive;
    padding-top: 0.4em;
    font-size: 1.2em;
}

/*main pagina*/

main > article {
    display: grid;
    grid-template-columns: repeat(40, 2vw);
    grid-template-rows: repeat(20, 5vh);
    grid-gap: 0px;
    background-color: transparent;
    overflow: hidden;
}



main > article div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-1,
.item-2,
    {
    align-items: center;
    justify-items: center;
    overflow: hidden;


}

.item-1 {
    grid-column: 1 / span 1;
    grid-row: 1/ span 20;
    background-color: #ffff8e;

}

.item-2 {
    grid-column: 16/ span 20;
    grid-row: 1/ span 20;
    transition: transform 0.9s ease;

}


.t1 h1 {
    font-family: 'Anton', sans-serif;
    color: #ffff8e;
    font-size: 10vw;
    letter-spacing: 5px;
}

main > article > a {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
    color: #011c40;
    background-color: #ffff8e;
    grid-column: 36/ span 6;
    grid-row: 9/ span 3;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    animation: textin2 1s ease-out normal 1.5s;
    transition: opacity 0.2s ease;
}

.t1 h3 {
    color: white;
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    grid-column: 3/ span 13;
    grid-row: 13/ span 3;
    min-width: 100%;
    min-width: 10em;
}

.t2 h4 {
    color: white;
    font-size: 1.4em;
    font-family: 'Anton', sans-serif;
    letter-spacing: 1px;
    transition: opacity 0.2s ease;
}

.t1 {
    grid-column: 3/ span 13;
    grid-row: 13/ span 8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    animation: textin 1s ease-out normal 1.5s;
    transition: opacity 0.2s ease;
    z-index: 1;

}

.t2 {

    margin-bottom: 0em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    grid-column: 37/ span 5;
    grid-row: 17/ span 3;
    animation: textin2 1s ease-out normal 1.5s;
    transition: opacity 0.2s ease;
    padding-right: 3.1em;
}

.loading-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;

    height: 100vh;
    position: absolute;
    top: 0;
    background-color: #ffff8e;
    z-index: 1;
    opacity: 1;
    animation: jump 3s ease-out normal;
    animation-fill-mode: forwards;




}

.loading-intro:before {
    display: none;
    opacity: 0;
}


.loading-intro img {
    height: 7em;
    animation: rotation 1s linear, fade 0.5 normal;

}

/*
intro loading screen
code genomen en geadapteerd van: https://codepen.io/kaymorey/pen/GWgxbK
*/

.process-bar-wordpress {

    width: 10em;
    height: 0.1em;
    background-color: #fff;
    position: relative;
    top: 2em;
    border-radius: 45px;

}

.process-bar-wordpress:before {

    content: '';
    position: absolute;
    width: 10em;
    height: 0.1em;
    border-radius: 45px;

    background-color: #011c40;
    animation: processbar-wordpress 1s ease-in;
    animation-fill-mode: forwards;
}

#trigger1:target .item-2 {

    top: 0;
    transform: translateX(-70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#trigger1:target .t1 {
    opacity: 0;
}

#trigger1:target .t2 {
    opacity: 0;
}

#trigger1:target #shop {
    opacity: 0;


}

/*contact*/
/*

code genomen en geadapteerd van: https://www.darkcode.info/2019/10/responsive-contact-section-using-html.html
*/


.contact {

    grid-column: 24/ span 17;
    grid-row: 6/ span 10;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.2s ease;
    text-align: left;
}

form > legend {
    font-size: 1.7em;
    color: white;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif
}

.name,
.email,
.message {
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid;
    color: white;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px;
    margin-right: 3em;
}

::placeholder {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
}

.message {
    min-width: 100%;
    max-width: 100%;
}

.contact button {
    background: none;
    color: white;
    border: 2px solid white;
    padding: 12px 40px;

    text-transform: uppercase;
    font-size: 14px;
    transition: 0.2s linear;
    cursor: pointer;

}

.contact button:hover {
    background: #ffff8e;
    color: #011c40;
}



#trigger1:target .contact {
    opacity: 1;
    transition: opacity 0.6s ease-in 0.5s;

}






















/*aniamtions*/


@keyframes jump {
    0% {
        display: flex;
        opacity: 1;
        transform: translateX(0)
    }

    60% {
        opacity: 1;
        transform: translateZ(0)
    }


    80% {
        opacity: 1;
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(-100%)
    }
}

@keyframes textin {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }

    50% {
        transform: translateX(-90%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }

}

@keyframes textin2 {
    0% {
        opacity: 0;
        transform: translateX(200%)
    }

    50% {
        transform: translateX(180%)
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }

}

@keyframes header {
    0% {
        opacity: 0;
        transform: translateY(-200%)
    }

    50% {
        transform: translateY(10%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }

}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    90% {
        opacity: 1;
        transform: rotate(359deg);
    }

    100% {
        opacity: 0;

        transform: rotate(359deg);
    }
}

@keyframes processbar-wordpress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}



































/*ipad and mobile version*/

@media screen and (max-width: 980px) {
    /*header*/

    header {
        top: 0;
        left: 0;
        z-index: 2;
        margin-top: 0;
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background-color: transparent;
        padding: 0;
    }

    .main-nav {
        justify-content: space-between;
        background-color: transparent;
        overflow-x: hidden;

    }

    .main-nav label {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-style: normal;
        font-size: 2em;
        margin-right: 20px;
    }

    .main-nav ul li {
        display: block;
        text-align: center;
        font-size: 1em;
        color: white;
        width: 100%;
        padding: 2em
    }


    .main-nav ul {
        display: none;
        width: 100%;
        min-height: 85vh;
        position: absolute;
        top: 0;
        z-index: -1;
        padding-top: 15vh;

        color: black;

    }

    .main-nav input:checked ~ ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

    }

    .menu {
        background-color: #6ec182;
        justify-content: center;
    }

    .logo {
        padding: 4vw 8vw;

    }

    .logo {
        font-size: 1em;
    }

    .logo p:nth-child(2) {
        font-size: 1em;
    }

    .item-2 {
        grid-column: 5/ span 35;
        grid-row: 9/ span 12;
        position: relative;

    }

    .titels {
        grid-template-columns: repeat(0, 2fr);
        grid-template-rows: repeat(20, 5vh);
    }


    .t1 h1 {
        font-size: 3em;
        letter-spacing: 5px;

    }

    .t1 h3 {
        font-size: 170%;


    }

    .t2 h4 {
        width: 6em;
        text-align: right;
    }

    .t1 {
        grid-column: 5/ span 29;
        grid-row: 5/ span 3;
        display: flex;
        align-items: flex-start;
        justify-content: center;


    }

    .t2 {
        grid-column: 30/ span 13;
        grid-row: 17/ span 3;



        z-index: 1;
    }

    main > article > a {
        font-size: 5.8vw;
        grid-column: 30/ span 13;
        grid-row: 9/ span 3;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 2px;
        z-index: 1;


    }

    #trigger1:target .item-2 {
        display: none;




    }


    .contact {
        grid-column: 5/ span 15;
        grid-row: 5/ span 3;

        width: 80vw;
        opacity: 0;
        z-index: 1;
        transition: opacity 0.2s ease;
        text-align: left;



    }
